# directories
.nx/cache
.nx/workspace-data
.pnpm-store
.VSCodeCounter
coverage/
dist/
node_modules/
test-results/
playwright-report/
blob-report/

# files
.DS_Store
.env

vite.config.*.timestamp*

# Next.js
.next
out
*.tsbuildinfo
