.list {
  display: flex;
  flex-direction: column;
  gap: var(--mantine-spacing-xs);

  & :global(.mantine-List-item) {
    border: 1px solid var(--mantine-color-default-border);
    border-radius: var(--mantine-radius-md);
    padding: var(--mantine-spacing-xs);
    cursor: pointer;
    overflow: hidden;
  }

  & :global(.mantine-List-itemWrapper) {
    width: 100%;
  }

  & :global(.mantine-List-itemLabel) {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: var(--mantine-spacing-md);
  }
}

.selectedItem {
  background-color: var(--mantine-primary-color-light-hover);
}
