html,
body {
  height: 100%;
}

body {
  user-select: none;
}

.mantine-AppShell-root {
  height: 100dvh;
  min-height: 100dvh;
  overflow: hidden;
}

.mantine-AppShell-main {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  min-height: 0;
  overflow: auto;
}
