html,
body {
  height: 100%;
}

body {
  user-select: none;
}

.mantine-AppShell-root {
  min-height: 100dvh;
}

.mantine-AppShell-main {
  min-height: calc(100dvh - var(--app-shell-header-height, 60px));
}
